.add__form-book {
    width: 50%;
    border: 1px solid $black;
    margin: auto;
    padding: 30px;
    background-color: $white;
    @include boxShadow();

    & label,
    input {
        width: 100%;
        display: block;
    }

    & label {
        margin-top: 20px;
    }

    & input {
        margin-top: 5px;
        padding: 10px 20px;
        border: 1px solid $dodger-blue;
        border-radius: 10px;
    }

    & button {
        margin-top: 20px;
    }
}
