@include for-size(large, up) {
    .container {
        width: 100vh;
        height: 100vh;
        margin: auto;
        display: grid;
        align-items: center;
        justify-content: center;

        .card {
            width: 1220px;
            height: 886px;
            background-color: $pattens-blue;
            @include boxShadow();
            border-radius: 15px;
            border: 1px solid black;

            .search {
                text-align: center;
                width: 100%;
                display: flex;
                justify-content: center;
                padding: 44px calc((100% - 840px)/2);

                &__item {
                    width: 100%;
                    padding: 5px 25px;
                    border: 1px solid black;
                    border-right: none;
                    height: 56px;
                    border-radius: 50px 0 0 50px;
                    outline: none;
                    color: #9DBFAF;

                    &:focus {
                        color: #00B4CC;
                    }
                }

            }

            &__control {
                display: flex;
                justify-content: space-between;
                padding: 0 calc((100% - 840px)/2);
                font-size: 18px;
                margin-bottom: 30px;

                .card-control {
                    &__add {
                        display: flex;
                        align-items: center;
                    }

                    &__sort {
                        display: flex;
                        align-items: center;

                        .sort {
                            width: 80px;
                            font-size: 18px;
                            text-align: center;
                            margin-left: 10px;
                        }
                    }
                }

            }

            &__items {
                padding: 0 calc((100% - 1001px)/2);
                display: flex;
                justify-content: space-between;
                justify-items: center;
                flex-wrap: wrap;
                height: 660px;
                overflow-y: scroll;

                /* width */
                &::-webkit-scrollbar {
                    width: 5px;
                }

                /* Track */
                &::-webkit-scrollbar-track {
                    box-shadow: inset 0 0 5px $white;
                    border-radius: 10px;
                }

                /* Handle */
                &::-webkit-scrollbar-thumb {
                    background: $dodger-blue;
                    border-radius: 10px;
                }

                /* Handle on hover */
                &::-webkit-scrollbar-thumb:hover {
                    width: 10px;
                    background: $cornflower-blue;
                }

                .book__list {
                    display: contents;
                }
            }
        }
    }
}
