.book__details {
    position: absolute;
    left: calc((100% - 1220px)/2);
    width: 1220px;
    height: 886px;
    background-color: $pattens-blue;
    @include boxShadow();
    border-radius: 15px;
    border: 1px solid black;
    padding: 91px 81px;

    &-intro {
        h2 {
            font-size: 36px;
            font-weight: bold;
            overflow-wrap: anywhere;
            overflow: auto;
            height: 88px;
            margin-bottom: 48px;
        }

        p {
            font-size: 18px;
            height: 442px;
            overflow-wrap: anywhere;
            overflow: auto;
            margin-bottom: 16px;
        }

        h4 {
            font-size: 24px;
            font-weight: bold;
            overflow-wrap: anywhere;
            overflow: auto;
            height: 30px;
        }

        button {
            margin-left: 200px;
        }
    }

    &-content {
        display: flex;
        justify-content: center;

        img {
            width: 575px;
            height: 684px;
            margin-right: 31px;
        }
    }

    &-control {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        margin-top: 12px;
    }
}
