//backgroundcolor
@mixin bgc($white-lilac: white) {
    background-color: $white-lilac;
}

//color
@mixin clr($trout) {
    color: $trout;
}

//boxsize
@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}


//position
@mixin absoluteCenter($direction: "left") {
    position: absolute;

    @if $direction=="left" {
        left: 50%;
        transform: translateX(-50%);
    }

    @if $direction=="top" {
        top: 50%;
        transform: translateY(-50%);
    }

    @if $direction=="both" {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

//displayflex
@mixin displayFlex($align: "center", $direction: "col") {
    display: flex;

    @if $align=="left"and $direction=="col" {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }

    @if $align=="center"and $direction=="col" {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    @if $align=="between"and $direction=="col" {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    @if $align=="right"and $direction=="col" {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: end;
    }

    @if $align=="left"and $direction=="row" {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: start;
    }

    @if $align=="center"and $direction=="row" {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    @if $align=="between"and $direction=="row" {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    @if $align=="right"and $direction=="row" {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: end;
    }
}

//box-shawdow
@mixin boxShadow($mid-gray: $mid-gray) {
    box-shadow: $mid-gray 0px -6px 30px 0px;
}

//Mixin
@mixin for-size($breakpoint, $direction:down) {

    @if map-has-key($breakpoints, $breakpoint) {
        $breakpoint-value: map-get($breakpoints, $breakpoint);

        @if $direction==up {

            //Build media query
            @media (min-width: $breakpoint-value) {
                @content;
            }
        }

        @else if $direction==down {

            //Build media query
            @media (max-width: $breakpoint-value) {
                @content;
            }
        }
    }

    @else {

        @if $direction==up {

            //Build media query
            @media (min-width: $breakpoint) {
                @content;
            }
        }

        @else if $direction==down {

            //Build media query
            @media (max-width: $breakpoint) {
                @content;
            }
        }

    }
}

@mixin overFlow() {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}
