$limed-spruce: #35414b; //title,..
$trout: #4e5a65; //paragraph,..,..
$white: #ffffff; //textbasic,..
$mischka: #dadce2; //copyright,..
$electric-violet: #794dff; //content,..
$white-lilac: #fcfbfe; //backgroundcolor,..
$mirage: #1d2830; //colrofooter,..
$blue-chalk: #ece5ff; //backgroundbutton,..
$link-water: #f0ebfa; //bordercolor,..
$frost: #f2f9eb; //colorbutton-smal,..
$mid-gray: #63636e; //colorboxshadow,..
$cornflower-blue: #7c70ff;
$sushi: #81C43B;

$black: #000;
$pattens-blue: #DEF3FF;
$dodger-blue: #2196F3;


$breakpoints: (small:600px, large:1025px);

$padding-container: calc((100% - 1220px) / 2);
$padding-container-footer: calc((100% - 866px) / 2);

$width: calc(100% - $padding-container * 2);
$height: calc(100% - $padding-container-footer * 2);
