.btn {
    background-color: #04AA6D;
    color: white;
    padding: 6px 5px;
    border: none;
    cursor: pointer;
    outline: none;
    border: none;
    opacity: 0.9;
    overflow: hidden;
}

.btn:hover {
    opacity: 1;
}

.btn-submit {
    width: 100px;
    height: 56px;
    border: 1px solid black;
    border-left: none;
    text-align: center;
    color: black;
    border-radius: 0 50px 50px 0;
    background-color: white;
}

.btn-add {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    text-align: center;
    font-size: 18px;
    margin-right: 10px;
    background-color: $dodger-blue;
    color: $white;
}

.btn-icons {
    background-color: #ffffff;
    color: white;
    width: 50px;
    height: 50px;
    padding: 0;
    border: none;
    cursor: pointer;
    outline: none;
    border: none;
    opacity: 0.9;
}

.btn-submit-form {
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
    border: 1px solid $mirage;
    border-radius: 10px;
    background-color: white;
    font-size: 18px;
    font-weight: 400;
}


.btn-cancel {
    background-color: #f44336;
    border: 1px solid red;
}

.btn-true {
    background-color: #04AA6D;
    border: 1px solid green;
}

.btn-delete {
    background-image: url('./images/delete.svg');
}

.btn-update {
    background-image: url('./images/update.svg');
}

.btn-details {
    background-image: url('./images/details.svg');
}

.close-details {
    width: 100px;
    height: 50px;
}
