.card-item {
    width: 295px;
    height: 293px;
    padding: 20px;
    background-color: $white;
    border-radius: 15px;
    font-size: 14px;
    margin-bottom: 37px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    .control__icons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        padding-bottom: 1rem;
    }

    &__title {
        color: $limed-spruce;
        font-size: 10px;
        margin-top: 5px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 200px;
    }

    &__control {
        font-size: 10px;
        text-align: center;
    }
}
